body{
    font-family: sans-serif;
    background: url(../img/background.png) center center fixed;
    background-size: 100% 100vh;
}
#form-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;   
}
h1{
    margin-top: 20px;
    font-size: 32px;
    color: white;
}
.form-container{
    display: flex;
    justify-content: center;
    width: 20em;
    margin: 20px 0px 10px 0px;
    border-radius: 7px;
    background-color: rgba(150, 150, 150, 0.1);
    box-shadow: rgba(150, 150, 150, 0.8) 5px 5px 10px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
label{
    padding: 10px 0px 2px 0px;
    text-align: center;
    font-size: 18px;
    color: #7a9ba1;
}
input{
    border: 2px solid darkgrey;
    border-radius: 4px;
    transition: .6s ease-in-out;
}
input:focus{
    border: 2px solid rgba(30, 144, 255, 0.4);
}
input::placeholder{
    text-align: center;
    font-size: 12px;
    color: lightslategrey;
    transition: .8s ease-in-out;
}
input:focus::placeholder{
    color: transparent;
}
#name-screen{
    display: none;
    padding-top: 7px;
    font-size: 13px;
    color: #ce1212;
}
#email-screen{
    display: none;
    padding-top: 7px;
    font-size: 13px;
    color: #ce1212;
}
#password-screen{
    display: none;
    padding-top: 7px;
    font-size: 13px;
    color: #ce1212;
}
#confirm-screen{
    display: none;
    padding-top: 7px;
    font-size: 13px;
    color: crimson;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.btn-container input{
    margin: 0px 10px;
    padding: 5px;
    border: 2px solid darkgrey;
    font-size: 16px;
    background-color: grey;
    color: white;
    transition: .4s ease-in-out;
}
.btn-container input:hover{
    border: 4px solid cornflowerblue;
}
.btn-container a{
    font-size: 16px;
    color: grey;
}
.btn-container a:hover{
    color: cornflowerblue;
    transition: .4s ease-in-out;
}
.link a{
    font-size: 18px;
    color: #7a9ba1;
}
.link a:hover{
    color: cornflowerblue;
}
.test-container{
    width: 30em;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border: 2px solid springgreen;
    border-radius: 7px;
    background-color: #7a9ba1;
}
.test-container h2{
    padding-bottom: 10px;
    font-size: 22px;
    color: white;
}
#validations{
    width: 200px;
}

